.messageCard {
  background-color: black;
  color: white;

  margin: 10px 0px;
  padding: 20px;
  border-radius: 10px;

  font-size: 14px;
  font-family: monospace;
}

.filePath {
  color: yellow;
}

.messageContent {
  color:aquamarine;
}

.windowStatus {
  /* background-color: rgb(16, 248, 78); */
  font-weight: bold;
  padding: 2px 5px;
  border-radius: 10px;
  width: fit-content;
  position: absolute;
  top: 15px;
  right: 15px;
}

.localStorageButtons {
  display: flex;
  justify-content: space-between;
}

.localStorageButton {
  margin: 10px;
}

.localStorageMessage, .versionText {
  font-weight: bold;
}

.inputText {
  background-color: white;
}

.versionNumber {
  width: fit-content;
  margin: 0 auto;
}

.versionText {
  color: #ababab;
}